<div id="checkout_shipping_method" class="checkout_section col-md-12">
	
	<div class="col-md-3 text-right">
		<strong>Shipping Method:</strong>
	</div>
	
	<div class="col-md-9" id="shipping_method">
		
		<%= render :partial => "checkout/fast/shipping"%>
		
	</div>
	
</div>