<div id="checkout_summary" class="card">
	Subtotal: <%= @checkout.sub_total %><br/>
	Shipping: <%= @checkout.shipping_total %><br/>
	Dsicount: <%= @checkout.discount_total %><br/>
	Sales Tax: <%= @checkout.tax_total %><br/>
</div>